#highlight{
    background-color:yellow;
}
.year{
    color:red;
}
.custom-input {
    width: 400px;
    height: 100px;
}
.gray1{
    background-color:gray;
}
.comment{
    display:inline;
}